@model List<GuessWhere.Models.Image>

@{
    ViewBag.Title = "Game";
}

<h2></h2>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Action("Show", "Images", new { id = item.IDimage })" alt="image" />
            </td>
        </tr>
        <tr>
            <td>
                <p style="padding-top:20px"><a class="btn btn-default" onclick="@Html.DisplayFor(modelItem => item.hint1)">HINT</a></p>
                <p style="padding-top:20px"><a class="btn btn-default" onclick="@Html.DisplayFor(modelItem => item.hint2)">HINT</a></p>
            </td>
        </tr>
        @*@while(/*the pin isn't pinned on the planet or one of the GIVEUP or NEXT isn't clicked*/)
        {/*wait*/
        }*@
    }


</table>



<p style="padding-top: 20px"><a class="btn btn-primary btn-lg">&nbsp; &nbsp; &nbsp; &nbsp;GIVE UP &nbsp; &nbsp; &nbsp;</a></p>
<p style="padding-top: 20px"><a class="btn btn-primary btn-lg">&nbsp; &nbsp; &nbsp; &nbsp;NEXT IMAGE &nbsp; &nbsp; &nbsp;</a></p>