@model IEnumerable<GuessWhere.Models.Game>

    @{
        ViewBag.Title = "Game";
    }

    <h2></h2>
<div class = "column">
    @Html.DisplayNameFor(model => model.Image.image)

</div>



<p style="padding-top: 20px"><a class="btn btn-primary btn-lg" >&nbsp; &nbsp; &nbsp; &nbsp;GIVE UP &nbsp; &nbsp; &nbsp;</a></p>
<p style="padding-top: 20px"><a class="btn btn-primary btn-lg" >&nbsp; &nbsp; &nbsp; &nbsp;NEXT IMAGE &nbsp; &nbsp; &nbsp;</a></p>