@{
    ViewBag.Title = "Playing the game";
}


<div class="content">
    <div class="row">
        <div class="col-md-4">
            <img id="the-image" src="" style="max-height:300px; max-width:300px" />
        </div>
        <div id="controls-container" class="col-sm-3 pull-left">
            <button id="hint-button" class="btn btn-success">Hint</button>
            <button id="nextImgButton" class="btn btn-danger">Begin game</button>
        </div>
        <div id="hint-container" class="col-md-6">
            <div id="hint1-container"></div>
            <div id="hint2-container"></div>
            <div id="info-container"></div>
        </div>
    </div>
    <div class="row">
        <div id="game-container" class="col-lg-5">
            <div id="unityPlayer">
                <div class="missing">
                    <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
                        <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
                    </a>
                </div>
                <div class="broken">
                    <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now! Restart your browser after install.">
                        <img alt="Unity Web Player. Install now! Restart your browser after install." src="http://webplayer.unity3d.com/installation/getunityrestart.png" width="193" height="63" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Play_JS_Style_Partial");

