@{
    ViewBag.Title = "Help";
}

<div class="column">
    <h1 style="color: cornflowerblue">Guess Where</h1>
</div>
<div class="column">
    <h2 style="padding-top: 20px; color: lightsteelblue">How to play</h2>
    <p style="max-width: 400px; color: ButtonShadow">
        To play the game, you need to download Unity Web Player plugin. <br />
        Note: If you are using Google Chrome web browser, you additionally need to enable
        NPAPI plugins: <a href="chrome://flags/#enable-npapi">chrome://flags/#enable-npapi</a> <br />
        <br />
        To start a game, click "Start game" button after Unity web player has finished loading. <br />
        The game has 7 images. To proceed to the next image, you have to place pin before clicking "Next image" button. <br />
        After placing the pin to the chosen location, a green pin will appear on the place of real location on the earth
        and you will see some info about the place from image.<br />
        <br />
        Controls: <br />
        Navigate earth with keys: W S A D <br />
        Pin with keys: Q <br />
        Scroll to zoom in/out <br />
    </p>


    <p style="padding-top: 20px"><a class="btn btn-primary btn-lg" href="~/Games/Play">&nbsp; &nbsp; &nbsp; &nbsp;PLAY &nbsp; &nbsp; &nbsp;</a></p>
    @*<p><a class="btn btn-default" href="~/Games/Play">PLAY &raquo;</a></p>*@

</div>