@{
    ViewBag.Title = "Manage avatar";
}

<h2 style="color: lightsteelblue">@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div>
    <h4 style="color: ButtonShadow">Change your avatar</h4>
    <hr align="left" width="42%" />
        [
        @if (Model.Avatar != null)
        {
            <img src="@Url.Action("GetAvatar", "Avatar", new { id = ViewBag.id })" alt="image" />
        }
        ]

    <dl class="dl-horizontal">
        <dt style="color: ButtonShadow">Click to browse avatar:</dt>
        <dd>
            <input type="file" id="Avatar" name="upload" />
        </dd>
        <dt style="padding-top: 20px"></dt>
        <dd style="padding-top: 20px">
            <input type="submit" value="Save" class="btn btn-default" />
        </dd>
    </dl>
</div>