@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Guess Where</h3>

<div class="column">
    <p style="max-width: 400px; color: ButtonShadow">
        Guess Where is a educational game which should make your geographical knowledge a bit better.
        The game features some natural monuments like national parks of different countries around the world or
        national heritage sites that everyone should know about. Most importantly, while playing you learn!
        Each task gives you a picture, and description, if you're willing to spend some of those coins that
        you got when you started the game, you can even use up a hint to refresh your memory.
        </p>


    <p style="max-width: 400px; color: ButtonShadow"> 
        This game was developed by a group of students for a college project.
    </p>
</div>