@{
    ViewBag.Title = "About";
}
<h2 style="color: lightsteelblue">@ViewBag.Title</h2>

<div class="column">
    <p style="max-width: 400px; color: ButtonShadow; padding-top: 20px">
        Guess Where is an educational game which should make your geographical knowledge a bit better.
        The game features natural monuments like national parks of different countries around the world or
        national heritage sites that everyone should know about. Most importantly, while playing you learn!
        Each task gives you a picture, you can use up a hint to refresh your memory but beware! Using hints reduces your score on that image.
        After each round, a green pin with the proper loaction appears and the description for the task you were given to locate.
        </p>



    <p style="max-width: 400px; color: ButtonShadow"> 
        This game was developed by a group of students for a college project.
    </p>
</div>