@{
    ViewBag.Title = "Contact";
}
<h2 style="color: lightsteelblue">@ViewBag.Title</h2>
<h3></h3>

<address style="color: ButtonShadow">
    Unska 3<br />
    10000 Zagreb, Croatia<br />
    <abbr title="Phone">P:</abbr>
    + 385 1 6129 999
</address>

<address style="color: ButtonShadow">
    <strong>Support:</strong><br />
    <a href="mailto:marina.brebric@fer.hr">marina.brebric@fer.hr</a><br />
    <a href="mailto:brigita.vrbanec@fer.hr">brigita.vrbanec@fer.hr</a><br />
    <a href="mailto:adrian.zgaljic@fer.hr">adrian.zgaljic@fer.hr</a><br />
    <a href="mailto:ivo.zubovic@fer.hr">ivo.zubovic@fer.hr</a><br />
    <a href="mailto:leon.fadljevic@fer.hr">leon.fadljevic@fer.hr</a><br />
</address>