@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Guess Where</h1>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">&nbsp; &nbsp; &nbsp; &nbsp;PLAY &nbsp; &nbsp; &nbsp;</a></p>
</div>

<div class="row">

        <h2>Game description</h2>
        <p>
            Guess Where is a educational game which should make your geographical knowledge a bit better. 
            The game features some natural monuments like national parks of different countries around the world or
            national heritage sites that everyone should know about. Most importantly, while playing you learn!
            Each task gives you a picture, and description, if you're willing to spend some of those coins that
            you got when you started the game, you can even use up a hint to refresh your memory.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">PLAY &raquo;</a></p>

</div>